Repository egyptofrance/naebak-ratings-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check, django-migrations-check, security-audit

ai-governance-check:
  name: AI Governance Code Quality Check
  entry: python scripts/ai_governance_hook.py
  language: python
  require_serial: true
  pass_filenames: true

code-test-ratio-check:
  name: Code-Test Ratio Validation
  entry: python scripts/code_test_ratio_check.py
  language: python
  require_serial: true
  pass_filenames: false

coverage-check:
  name: Test Coverage Validation (90%)
  entry: python scripts/coverage_check.py
  language: python
  require_serial: true
  pass_filenames: false

contract-validation:
  name: API Contract Validation
  entry: python scripts/contract_validation.py
  language: python
  require_serial: true
  pass_filenames: false

django-check:
  name: Django System Check
  entry: python manage.py check
  language: python
  require_serial: true
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: python manage.py makemigrations --check --dry-run
  language: python
  require_serial: true
  pass_filenames: false

security-audit:
  name: Security Dependencies Audit
  entry: safety check
  language: python
  require_serial: true
  pass_filenames: false

Update with standardized Django template and Dockerfile
  Dockerfile
  template_file.txt
Due: none

Update to standardized django template
  Dockerfile
  apps/users/models.py
  config/settings.py
  config/urls.py
  requirements.txt
Due: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check, django-migrations-check, security-audit

إضافة البيانات الأساسية والنماذج المحدثة لخدمة التقييمات الذكية
  .env.example_updated
  apps/ratings/__init__.py
  apps/ratings/management/__init__.py
  apps/ratings/management/commands/__init__.py
  apps/ratings/management/commands/load_initial_data.py
  apps/ratings/models.py
  apps/ratings/serializers.py
  config/settings_updated.py
  requirements_updated.txt
Due: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check, django-migrations-check, security-audit

إضافة ملفات .env و constants.py للإعدادات والبيانات الأساسية
  .env
  constants.py
Due: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check

إضافة ملف LEADER.md المبسط لخدمة التقييمات مع وصف واضح لكيفية العمل
  LEADER.md
Due: none

✨ إصلاح حرج: إضافة ملفات urls.py و views.py وتحديث config/urls.py
  apps/ratings/urls.py
  apps/ratings/views.py
  config/urls.py
Due: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check

تحديث README باستخدام القالب الموحد
  README.md
Due: none

إضافة توثيق Swagger/OpenAPI شامل لخدمة التقييمات
  apps/ratings/views.py
  config/settings.py
Due: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check

Add comprehensive docstrings to models and views in ratings service
  apps/ratings/models.py
  apps/ratings/views.py
Due: ai-governance-check, code-test-ratio-check, coverage-check, contract-validation, django-check, django-migrations-check

feat: Add ADR for Smart Rating algorithm
  docs/adrs/001-rating-algorithm.md
Due: none

docs: Add DEVELOPER_GUIDE.md
  DEVELOPER_GUIDE.md
Due: none

feat: Add development tools and templates
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
Due: none

Path conditions:
  ai-governance-check: any of: \.py$, but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

  code-test-ratio-check: any of: \.py$, but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

  coverage-check: any of: \.py$, but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

  contract-validation: any of: (\.py$|openapi\.yaml$|\.json$), but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

  django-check: any of: \.py$, but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

  django-migrations-check: any of: (models\.py$|migrations/.*\.py$), but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

  security-audit: any of: requirements.*\.txt$, but not: (?x)^(
  migrations/.*|
  .*\.min\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.tox/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  htmlcov/.*|
  \.mypy_cache/.*|
  build/.*|
  dist/.*|
  \.egg-info/.*
)$

